<h1>BURGERS!</h1>

<h2>I know you are hungry, start devouring!</h2>
<div class ="row">
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      {{this.burger_name}}
      <div>
              <form 
              {{!-- action="/burgers/{{this.id}}?_method=PUT" --}}
               method="POST">
                <button type="submit" class='undevoured'> Devour the {{burger_name}}</button>
              </form>
            </div>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{this.burger_name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" action="/burgers" method= "POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <button type="submit">Add a Burger</button>
</form>
</div>